.splash--cont {
    text-align: center;
    background-color: black;
    color: white;
    height: 100vh;
    width: auto;
}

.splashscreen--wrapper {
    padding: 10%;
    text-align: center;
  }
  
  .dividing--line {
      margin-top: 05%;
      width: 6px;
      height: 2px;
      background: rgb(64, 80, 181);
      transition: width 1s ease;
      animation: line 4s ease-in-out 1s 1 normal forwards;
  }
  
  
  .entrance--button {
      border-style: solid;
      border-color: black;
      padding: 1% 05%;
      border-radius: 05px;
      background-color: black;
      color: black;
      font-size: 20px;
      margin: 10% 05%;
      animation: button 4s ease-in-out 1s 1 normal forwards;
  }
  
  .splashscreen--text {
    font-size: 50px;
    animation-name: example;
    animation-duration: 4s;
  }
  
  
  @keyframes example {
    0%   {color: black;}
    25%  {color: rgb(64, 80, 181);}
    50%  {color: rgb(81, 100, 223);}
    100% {color: white;}
  }
  
  @keyframes line {
    0%   {width: 0px;}
    100% {width: 100%;}
  }
  
  @keyframes button {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
      color: white;
      border-color: white;
    }
    100% {
      opacity: 1;
      color: rgb(63, 226, 193);
      border-color: white; 
    }
  }


  @media only screen and (max-width: 800px) {
    .entrance--button {
      width: 80%;
      margin: 05%;
      padding: 02% 08%;
    }
    .splashscreen--text {
        font-size: 05px;
    }
    .splashscreen--wrapper {
        padding: 25% 05% 0% 05%;
    }
  }

  @media only screen and (max-width: 1000px) {
    .entrance--button {
      width: 50%;
      margin: 10% 15%;
    }
    .splashscreen--text {
        font-size: 30px;
    }
    
  }
  
  